/* Navbar */
nav {
    position: fixed; /* Keep the navbar fixed at the top */
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px; /* Default padding */
    background-color: rgb(18, 18, 62); /* Default dark background color */
    transition: background-color 0.3s ease, padding 0.3s ease; /* Smooth transition */
    width: 100%; /* Ensure it spans the full width of the viewport */
    height: 70px; /* Set height to 70px */
  }
  
  nav.scrolled {
    background-color: #0871aa; /* Change to vivid blue when scrolling */
    padding: 10px 50px; /* Reduce padding when scrolled */
  }
  
  nav ul {
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    list-style: none;
    margin: 0 23px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem; /* Default font size */
    transition: font-size 0.3s ease; /* Smooth font size transition */
  }
  
  nav.scrolled ul li a {
    font-size: 0.9rem; /* Smaller font size when scrolled */
  }
  
  nav ul li a:hover {
    color: rgb(89, 31, 144);
    font-size: 1.01rem;
  }
  
  
  

/* Project section */

.projects {
    padding: 50px 0;
    background-color: rgb(18, 18, 62);
    color: white;
  }
  
  .projects h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
  }
  
  .project-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 900px;
    margin: 0 auto;
  

  }
  
  .project-card {
    background-color: rgb(0, 0, 33);
    border-radius: 10px;
    padding: 40px;
    height: 600px;  /* Increase vertical size here */
    text-align: center;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  /* Distribute content */

  }
  
  .project-card img {
    width: 380px;
    border-radius: 10px;
    max-height: 300px; /* Adjusted image size to fit vertically */
    object-fit: cover;
    margin-bottom: 20px;
    margin-left: 220px;
  }
  
  .project-card h3 {
    font-size: 2rem;
    margin-top: 20px;
  }
  
  .project-card p {
    color: lightgray;
    font-size: 1.2rem;
    flex-grow: 1; /* Pushes description down */
  }
  
  .project-card:hover {
    transform: scale(1.03);
  }
  
  @media (max-width: 768px) {
    .projects h2 {
      font-size: 2rem;
    }
    .project-card {
      padding: 20px;
      height: 500px; /* Adjusted for smaller screens */
    }
    .project-card h3 {
      font-size: 1.5rem;
    }
  }
  